extends ../layout

block content
  link(rel="stylesheet", href="/css/signin.css")
  
  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            a(href="http://localhost:3000")
              img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title=title
        .col-md-4.col-xs-0
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br

    .container
      .row
        form.form-horizontal(action="/add", method="POST")
          .input-group.input-group-lg.col-md-12
            .input-group-addon 申请日期
            input.col-md-10.form-control.date(type='text', name="date", value="#{project.date}", readonly)
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 项目分类
            select.col-md-10.form-control(type='text', name="kind", value="#{project.kind}")
              option 自主学习类
              option 创新学分类
              option 养成体验类
              option 其他
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 项目内容
            input.col-md-10.form-control(type='text', name="name", value="#{project.name}")
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 申请分值
            input.col-md-10.form-control(type='text', name="applyPoint", value="#{project.applyPoint}")
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 具体说明
            input.col-md-10.form-control(type='text', name="remark", value="#{project.remark}")
          .input-group.input-group-lg.col-md-12.hidden
            input.col-md-10.form-control(type='text', name="_id", value="#{project._id}")
          br
          button.btn.btn-lg.btn-primary.btn-block 录入

    script(src="/libs/jquery/dist/jquery.min.js")
    script.
      $(document).ready(()=>{
        const myDate = new Date();
        const nowDate = myDate.getFullYear() + '-' + (myDate.getMonth() + 1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
        $(".date").val(nowDate);
      })