extends ../layout

block content
  link(rel="stylesheet", href="/css/signin.css")

  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title=title
        .col-md-4.col-xs-0.daidaidongdong
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br

    .container
      .row
        .panel.panel-primary
          .panel-heading(style="background-color:#1295d8")
            span.glyphicon.glyphicon-th-list(aria-hidden="true") 
            span  功能大全
          .panel-body
            .form-inline 条件查询：
              .form-group
                select.form-control#findBox(type='text')
                  option(selected) 学生学号
                  option 学生姓名
                  option 项目类别
              .form-group.searchBox
                input.form-control.searchInput#searchInput(type="text", placeholder="请输入学生学号")
              .form-group.selectBox(style="display: none")
                select.form-control#searchKind(type='text')
                  option.firstOption 自主学习类
                  option 创新学分类
                  option 养成体验类
                  option 其他
              button.btn.btn-primary.searchBtn 查询
              button.btn.btn-warning.cleanBtn 清除条件
            br
            .form-inline 条件排序：
              button.btn.btn-primary.sortByIdBtn 按学号排序
              button.btn.btn-primary.sortByTimeBtn 按时间排序
              button.btn.btn-warning.resetSort 重置列表
            br
            .form-inline 其它：
              button.btn.btn-danger.quit 注销

      .row
        .panel.panel-primary
          .panel-heading(style="background-color:#1295d8")
            span.glyphicon.glyphicon-th-list(aria-hidden="true") 
            span  所有项目
          .panel-body
            -if (projects.length==0)
              .alert.alert-warning 暂无相关项目
            -else
              .table-responsive
                table.table.table-condensed.table-hover.table-bordered.projectsTable
                  tr.active.allTr
                    td 学号
                    td 姓名
                    td 项目类别
                    td 项目简介
                    td 申请日期
                    td 申请分值
                    td 认定分值
                    td 备注说明
                  for item in projects
                    tr
                      td.stuId #{item.id}
                      for stu in students
                        - if(stu.id==item.id)
                            td.stuName #{stu.name}
                      td.proKind #{item.kind}
                      td #{item.name}
                      td #{item.date}
                      td #{item.applyPoint}
                      td #{item.finalPoint}
                      td #{item.remark}

      .row
        .panel.panel-primary
          .panel-heading(style="background-color:#1295d8")
            span.glyphicon.glyphicon-th-list(aria-hidden="true") 
            span  所有学生
          .panel-body
            -if (students.length==0)
              .alert.alert-warning 无用户
            -else
              .table-responsive
                table.table.table-condensed.table-bordered
                  tr.active
                    td 学号                  
                    td 姓名
                    td 性别
                    td 班级
                    td 学院
                    td 密码
                  for item in students
                    tr
                      td #{item.id}
                      td #{item.name}
                      td #{item.gender}
                      td #{item.major}
                      td #{item.faculty}
                      td #{item.password}
      

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/js/search.js")
    script(src="/js/signout.js")
