extends ../layout

block content
  link(rel="stylesheet", href="/css/signin.css")

  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title=title
        .col-md-4.col-xs-0.daidaidongdong
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br

    .container
      .row
        .form-inline
          .form-group
            select.form-control#find(type='text', name="kind", onclick="change()")
              option 学生学号
              option 学生姓名
              option 项目类别
          .form-group.searchBox(style="display: none")
            input.form-control.searchInput(type="text")
          .form-group.selectBox(style="display: none")
            select.form-control#find(type='text', name="kind", onclick="change()")
              option 自主学习类
              option 创新学分类
              option 养成体验类
              option 其他
          button.button.btn.btn-primary 查询
        br
      .row
        .table-responsive
          table.table.table-condensed.table-hover
            for item in students
              tr.warning
                td.warning 姓名：#{item.name}
                td.warning 性别：#{item.gender}
                td.warning 学号：#{item.id}
                td.warning 密码：#{item.password}
                td.warning 学院：#{item.faculty}
                td.warning 专业：#{item.major}
                td.warning 等级：#{item.level}

      .row
        .table-responsive
          table.table.table-condensed.table-hover
            for item in projects
              tr.warning(value="#{item.id}")
                for stu in students
                  - if(stu.id==item.id)
                      td.warning 姓名：#{stu.name}
                td.warning 类别：#{item.kind}
                td.warning 名称：#{item.name}
                td.warning 日期：#{item.date}
                td.warning 申请分值：#{item.applyPoint}
                td.warning 认定分值：#{item.finalPoint}
                td.warning 说明：#{item.remark}
      

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/js/search.js")
