extends ../layout

block content
  link(rel="stylesheet", href="/css/index.css")
  
  body.box
    h1= title
    .sbox
      .sbox1
        h3 当前用户>>#{user.name}
        button.quit 注销
      .sbox2
        .sbox2_1
          h4 姓名：#{user.name}
          h4 性别：#{user.gender}
          h4 学号：#{user.id}
          h4 专业：#{user.major}
      .sbox3
        button.sheet 素质拓展学分表
        button.alter 修改入口
        button.add 添加入口
    
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/js/signout.js")
