extends ../layout

block content    
  link(rel="stylesheet", href="/css/signin.css")

  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            a(href="http://localhost:3000")
              img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title= title
        .col-md-4.col-xs-0
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br
    .container
      .row
        .table-responsive
          table.table.table-condensed
            tr.warning
              td.warning 姓名：
              td.warning=student.name
              td.warning 性别：
              td.warning=student.gender
              td.warning 学号：
              td.warning=student.id
            tr.warning
              td.warning 学院：
              td.warning=student.faculty
              td.warning 专业及班级：
              td.warning=student.major
              td.warning
              td.warning              
            tr.active
              td.active 申请日期
              td.active 项目分类
              td.active 项目名
              td.active 申请分值
              td.active 认定分值
              td.active 备注
            each item in projects
              tr.active
                td.danger=item.date
                td.danger=item.kind
                td.danger=item.name
                td.danger=item.applyPoint
                td.danger 0
                td.danger=item.remark
                td
                  form(action="/change", method="POST")
                    input.hidden(type="text", name="_id")= item._id                    
                    button.btn.btn-warning 修改
                    button.btn.btn-danger 删除 
              
